.error_message {
  @apply fixed top-12 left-1/2 translate-x-[-50%] bg-red-700 text-white p-2 z-[200] rounded;
  animation: popup 1s;
}

@keyframes popup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
