@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  @apply text-sm sm:text-sm  md:text-base lg:text-lg;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  touch-action: none;
  scrollbar-width: none;
  overflow: hidden;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Fix: Elements disappear when virtual scroll happening */
.scroll-container > section,
.scroll-container > footer {
  perspective: 1px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn {
  @apply py-3 px-5 no-underline border-none cursor-pointer text-white font-normal text-center bg-purple-700 rounded-[100px] transition-all hover:bg-purple-900 hover:scale-105 outline-none;
}

.input {
  @apply w-full p-3 text-xl bg-gray-100 border-none outline outline-gray-200 transition-all focus:outline focus:outline-2 focus:outline-purple-200 focus:bg-white resize-none;
}

.label {
  @apply text-base transition-all px-2 translate-y-[-5rem];
}

.input:placeholder-shown ~ label {
  @apply opacity-0 invisible translate-y-[-2.5rem];
}

.form_group {
  @apply w-full flex-1 mb-3 sm:mr-4 sm:last:mr-0 flex flex-col;
}

#nprogress .bar {
  @apply !bg-purple-900;
}

#nprogress .peg {
  box-shadow: 0 0 10px #581c87, 0 0 5px #581c87 !important;
}
