.background {
  @apply w-[60rem] max-w-full px-10 pb-[16rem] flex flex-col justify-center items-center text-green-900 text-center;
}

.skill_card {
  @apply mt-[-12rem] w-[70rem] max-w-[90%] h-auto bg-white rounded-2xl overflow-hidden flex  flex-col sm:flex-col md:flex-col lg:flex-row  border-solid border shadow-lg shadow-black/30;
  &_item_left {
    @apply flex flex-col  flex-1 items-center  py-12 lg:py-12 sm:py-12 px-16 border-solid lg:border-r lg:border-b-0 border-b sm:border-b;
  }
  &_item_middle {
    @apply flex flex-col flex-1 items-center py-12 lg:py-12 sm:py-12 px-16;
  }
  &_item_right {
    @apply flex flex-col flex-1 items-center py-12 lg:py-12 sm:py-12 px-16 border-solid lg:border-l lg:border-t-0 border-t sm:border-t;
  }
  &_logo {
    @apply h-16 w-16 rounded-full p-2 flex justify-center items-center text-4xl mb-2 border border-solid text-[var(--text-color)] border-[var(--text-color)] hover:bg-[var(--text-color)] hover:text-white transition-[background-color];
    &_react {
      --text-color: #0a7ea3;
    }
    &_node {
      --text-color: #519741;
    }
    &_css {
      --text-color: #304cdc;
    }
  }
}
